body {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wantsToKnow .wantsToKnowCaption h2 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .wantsToKnow .wantsToKnowCaption h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .wantsToKnow .wantsToKnow h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .wantsToKnow .wantsToKnow-btn {
    float: left;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .wantToWork-area .wantToWork-btn {
    float: left;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wantsToKnow .wantToWork-btn {
    float: left;
    margin-top: 30px;
  }
}

/* Expertise */
@media (max-width: 575px) {
  .expertise {
    margin: 0px 14px 32px 14px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .expertise-top {
    margin-top: -44px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .expertise-top {
    margin-top: -44px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise-top {
    margin-top: -44px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise {
    margin: 6px 14px 32px 19px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .expertise {
    margin: 0px 14px 32px 19px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise {
    margin: 0px 14px 32px 19px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise p {
    padding: 0px 20px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise h5 {
    padding-left: 20px !important;
    font-size: 24px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .expertise p {
    padding: 0px 24px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .expertise h5 {
    padding-left: 20px !important;
    font-size: 24px !important;
  }
}

@media (max-width: 575px) {
  .expertise-title {
    display: flex !important;
    justify-content: flex-start !important;
    margin-top: 50px;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .expertise-title > h2 {
    font-size: 29px !important;
    font-weight: 500 !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .expertise-title > h2 {
    font-size: 31px !important;
    font-weight: 500 !important;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise-title {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .expertise-title > h2 {
    font-size: 62px !important;
    font-weight: 400 !important;
  }
}
/*End Expertise*/

@media screen and (max-width: 567px) {
  .hide-small-phone {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
  }
}

@media screen and (min-width: 567px) {
  .show-small-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 767px) {
  .show-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 1165px) {
  .hide-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 1165px) {
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 1165px) {
  .show-large-font {
    font-size: 32px !important;
    font-weight: 500px !important;
  }
}
/* End Of Expertise*?

/*
.grow {
  transition: all 0.5s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
} */
