.header {
    color: #670000;
    font-size: 17px;
    font-weight: 400;
    font-family: sans-serif;
    transition: 0.3s;
    text-transform: capitalize;
}

.header:hover {
    color: #670000;
}

.active {
  border-bottom: 2px solid #670000;
  padding: 2px 0px 10px 0px;
}